{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Latest compiled and minified CSS -->
	<script  type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"> </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<script  type="text/javascript" src="{% static 'city/js/jquery.tablesorter.js' %}"> </script>
	<link rel="stylesheet"  href="{% static 'css/style.css' %}"/>
	<link rel="stylesheet"  href="{% static 'css/krotis.css' %}"/>
	<link rel="stylesheet"  href="{% static 'css/pralis.css' %}"/>
	<link rel="stylesheet"  href="{% static 'css/login.css' %}"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

	<header class="bs-docs-nav navbar navbar-static-top my_header" id="top"> 
		<div class="container"> 
			<div class="navbar-header"> 
				<button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> 
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button> 
				
				<a class="navbar-brand" href="#"> RTsite </a>
			</div> 
			
			<nav class="collapse navbar-collapse" id="bs-navbar"> 
				<ul class="nav navbar-nav"> 
					<li class="active">
						<a href=" #">
							<span class="glyphicon glyphicon glyphicon-home" aria-hidden=true> Home </span>
						</a>
					</li>
					<li class="active">
						<a href="#">
							<span class="glyphicon glyphicon-music" aria-hidden=true> Jobs </span>
						</a>
					</li>
					<li class="active">
						<a href="#">
							<span class="glyphicon glyphicon-phone-alt" aria-hidden=true> Contact </span>
						</a>
					</li>
				</ul> 
				
				<!-- <form class="navbar-form navbar-left" role="search" method="get" action="#">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" name = "q" value="">				
					</div>
					<button type="submit" class="btn btn-default"> search </button>
				</form> -->
				
				{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						{% if user.profile.is_recruit == "1" %}
							<li class="">
								<a href="#">
									<span class="glyphicon glyphicon-bullhorn" aria-hidden=true> Recruitment </span>
								</a>
							</li>
							
						{% endif %}
						<li class="">
							<a href="#">
								<span class="glyphicon glyphicon glyphicon-user" aria-hidden=true> {{ user.username }} </span>
							</a>
						</li>
						<li class="">
							<a href="{% url 'usercontrol:auth_logout' %}">
								<span class="glyphicon glyphicon-off" aria-hidden=true> Logout </span>
							</a>
						</li>
						
					</ul>

				{% else %}
				    
				    <ul class="nav navbar-nav navbar-right">
						<li class="">
							<a href="">
								<span class="glyphicon glyphicon-plus" aria-hidden=true> Add </span>
							</a>
						</li>
						<li class="">
							
							<a href="{% url 'usercontrol:login' %}">
								<span class="glyphicon glyphicon-user" aria-hidden=true> Login </span>
							</a>
						</li>
						<li class="">
							<a href="#">
								<span class="glyphicon glyphicon-registration-mark" aria-hidden=true> Register </span>
							</a>
						</li>
					</ul>
				{% endif %}	
				</ul> 
			</nav> 
		</div> 
	</header>

	<main class="bd-content p-5" id="content" role="main">
		<div class="container bs-docs-container" style="padding-top: 10px !important;">
			{% block body %}

			{% endblock %}
		</div>

		{% block plugin %}
		{% endblock %}

	</main>
</body>
</html>