{% extends 'city/base.html' %}
{% block title %} Add City {% endblock %}
{% block city_active %} Active {% endblock %}

{% block body %}

	
	{% if user.is_authenticated %}
	
	

		<!-- <div class="container"> -->
        <!--<div class="container-fluid"> -->
        <div> 
			<div class="row">
				<div class="col-sm-12 col-md-7">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
								<input type ="text"  value= "{{ user.id }}" id="user_id" name = "user" hidden="true">
								<div class="form-group">
									<div class="">
					
										<label class="control-label col-sm-2" for="artificial_user_name"> User Name: </label>	
										<div class="col-sm-10">
											<input type ="text"  value= "{{ user.username }}" id="user_name" name="user_name" placeholder="">	
										</div>
									</div>
								</div>
								{% csrf_token %}
								{% include 'city/form_template.html' %}
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-success"> Next</button>
									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div>
			<p> Please login ! </p>
		</div>
	{% endif %}

	<style type="text/css">
		label[for="id_user_id"] { display:none; }
	</style>
	<script type="text/javascript">
		var user_id = document.getElementById("user_id").value;
		document.getElementById('id_user_id').value=user_id;
		document.getElementById('id_user_id').style.display = "none";
	</script>


{% endblock %}